$body-color: darkgray;

*, *::before, *::after {
	box-sizing: border-box;
}

button::-moz-focus-inner {
	border: none;
}

html {
	font-size: 16px;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: #D46262;
}

.wrapper {
	height: 100%;
	width: 100%;
	min-height: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

// REMOVE later
div {
	outline: 1px dotted black;
}

.calculator {
	background-color: #D2C4C4;
	border-radius: 20px;
	padding: 5px 5px 15px;
	box-shadow: 0 5px 15px 4px #523434;
	border: 12px outset #9C8E8E;
}

.title {
	text-align: center;
	margin: 10px;
	color: #4A6B88;
}

.display {
	padding: 5px;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		left: 10px;
		top: 50%;
		transform: translateY(-50%);
	}

	&.evalled::before {
		content: "=";
	}
}

.output {
	width: 100%;
	text-align: right;
	font-size: 1.2em;
	background-color: bisque;
}

.buttonPanel {
	padding: 10px;
	text-align: center;

	> button {
		width: 2.5em;
		height: 2em;
		margin: 3px;
		font-size: 1.5em;
		float: left;
		background-color: #D0B0B0;

		&:nth-child(4n+1) {
			clear: left;
		}
	}
}
