$body-color: #D46262;
$calculator-color: #D2C4C4;
$title-color: #4A6B88;
$button-color: #D0B0B0;
$output-color: bisque;
$button-width: 60px;
$button-height: 48px;

*, *::before, *::after {
	box-sizing: border-box;
}

button::-moz-focus-inner {
	border: none;
}

@font-face {
	font-family: 'Digital7';
	src: url('../fonts/digital7.woff') format('woff');
}

html {
	font-size: 16px;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: $body-color;
}

.wrapper {
	height: 100%;
	width: 100%;
	min-height: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.calculator {
	background-color: $calculator-color;
	border-radius: 20px;
	padding: 5px 5px 15px;
	box-shadow: 0 5px 15px 4px #523434;
	border: 12px outset #9C8E8E;
	max-width: 318px;
}

.title {
	text-align: center;
	margin: 10px;
	color: $title-color;
}

.display {
	padding: 5px;
	position: relative;

	&::before {
		content: "";
		font-size: 1.5em;
		position: absolute;
		left: 10px;
		top: 50%;
		transform: translateY(-50%);
	}

	&.evalled::before {
		content: "=";
	}
}

.output {
	width: 100%;
	text-align: right;
	background-color: $output-color;
	font: 2.4em/1.1 Digital7, monospace;
	line-height: 1.1;
	padding-left: 18px;
	min-width: ($button-width + 6) * 4 + 10;
}

.buttonPanel {
	padding: 10px;
	text-align: center;

	> button {
		width: $button-width;
		height: $button-height;
		margin: 3px;
		font-size: 1.5em;
		float: left;
		background-color: $button-color;
		cursor: pointer;
		border-radius: 48%;

		&:nth-child(4n+1) {
			clear: left;
		}
	}
}
